<div class="page-top-wrapper">
  <div class="background">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
          <p class="text-white text-title">ゲーム内で起きた最高の瞬間や面白い場面を共有しよう</p>
        </div>
          <p class="sita text-white">v</p>
      </div>
    </div>
  </div>
  
  <div class="about">
    <h1 class=text-center>このアプリについて</h1>
    <div class="icon-field">
      <div class="icon-parts">
        <%= image_tag "icon1.jpeg", class: "icon" %>
        <p>いつでも簡単にゲームの画像や動画をコメント付きで投稿することができます。</p>
        </div>
        <div class="icon-parts">
        <%= image_tag "icon2.jpeg", class: "icon" %>
        <p>ゲームのカテゴリ別に投稿、閲覧することが可能で、フレンド探しにもなります。</p>
        </div>
        <div class="icon-parts">
        <%= image_tag "icon3.jpeg", class: "icon" %>
        <p>投稿にいいねしてあとで見直すこともできます。</p>
      </div>
    </div>
  </div>
</div>